# fluent-bit-values.yaml
config:
  service: |
    [SERVICE]
        Daemon Off
        Flush 1
        Log_Level info
        HTTP_Server On
        HTTP_Listen 0.0.0.0
        HTTP_Port 2020
        Health_Check On
        HC_Errors_Count 5
        HC_Retry_Failure_Count 5
        HC_Period 60

  inputs: |
    [INPUT]
        Name http
        Listen 0.0.0.0
        Port 9880
        Tag minio-audit

  filters: |
    [FILTER]
        Name record_modifier
        Match minio-audit
        Remove_key tags
        Remove_key partition
        Remove_key remoteHost
        Remove_key topic
        Remove_key trigger
        Remove_key version

  outputs: |
    [OUTPUT]
        Name loki
        Match minio-audit
        Host loki-gateway.logging.svc.cluster.local
        Port 3100
        Http_User admin
        Http_Passwd admin
        Labels job=minio-audit
        Auto_Kubernetes_Labels on

servicePort: 2020

containerPorts:
  - name: http
    containerPort: 2020
    protocol: TCP
  - name: http-input
    containerPort: 9880
    protocol: TCP

livenessProbe:
  httpGet:
    path: /api/v1/health
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /api/v1/health
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10

resources:
  limits:
    cpu: 200m
    memory: 200Mi
  requests:
    cpu: 100m
    memory: 128Mi

